{% extends 'Auth/signup_base.html' %}

{% block back_button %}
<a href="{% url 'setup_association' %}" class="back-btn">＜</a>
{% endblock %}

{% block progress_bar %}
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment "></div>
{% endblock %}

{% block title %}働き方を登録{% endblock %}

{% block form_content %}
<p style="font-size:14px; font-weight:bold; margin-bottom:15px;">アルバイトの働き方について教えてください</p>
<label class="option-item"><input class="form-input" type="radio" name="work_style" value="スキマバイトのみ"
                onclick="checkForm()"> スキマバイトにしか興味ない</label>
<label class="option-item"><input class="form-input" type="radio" name="work_style" value="長期も検討" onclick="checkForm()">
        良い店舗に出会えれば長期をしたい</label>
<p style="font-size:14px; font-weight:bold; margin-top:20px; margin-bottom:15px;">正社員として働くことに興味はありますか？</p>
<label class="option-item"><input class="form-input" type="radio" name="career_interest" value="すぐに転職したい"
                onclick="checkForm()"> すぐにでも転職/就職したい</label>
<label class="option-item"><input class="form-input" type="radio" name="career_interest" value="興味なし"
                onclick="checkForm()"> 興味がない</label>
{% endblock %}

{% block footer_buttons %}
<a href="{% url 'signup_verify_identity' %}" class="btn-later">あとで</a>
<button type="submit" class="btn-next" disabled>次へ</button>
{% endblock %}