{% extends 'Auth/signup_base.html' %}

{% block back_button %}
<a href="{% url 'setup_address' %}" class="back-btn">＜</a>
{% endblock %}

{% block progress_bar %}
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment "></div>
{% endblock %}

{% block title %}現在の職業を教えてください{% endblock %}

{% block form_content %}
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="大学生" required> 大学生</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="大学院生" required>
    大学院生</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="専門学生" required>
    専門学生</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="短大生" required>
    短大生</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="高校生" required>
    高校生</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="高専生" required>
    高専生</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="フリーター" required>
    フリーター</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="会社員" required>
    会社員</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="主婦。主夫" required>
    主婦。主夫</label>
<label class="option-item"><input class="form-input" type="radio" name="occupation" value="その他" required>
    その他</label>
{% endblock %}



{% block footer_buttons %}
<a href="{% url 'setup_workstyle' %}" class="btn-later">あとで</a>
<button type="submit" class="btn-next" disabled>次へ</button>
{% endblock %}