{% extends 'Auth/signup_base.html' %}

{% block progress_bar %}
<div class="progress-segment active"></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
{% endblock %}

{% block title %}名前を入力する{% endblock %}

{% block form_content %}
<div style="display: flex; gap: 15px;">
    <div style="flex: 1;"><label class="form-label">姓</label><input class="form-input" type="text" name="last_name"
            placeholder="山田" required></div>
    <div style="flex: 1;"><label class="form-label">名</label><input class="form-input" type="text" name="first_name"
            placeholder="太郎" required></div>
</div>
{% endblock %}
{% block footer_class %}single-btn{% endblock %}

{% block footer_buttons %}
<button type="submit" class="btn-next" disabled>次へ</button>
{% endblock %}