{% extends 'Auth/signup_base.html' %}

{% block back_button %}
<a href="{% url 'setup_name' %}" class="back-btn">＜</a>
{% endblock %}

{% block progress_bar %}
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
{% endblock %}

{% block title %}フリガナを入力する{% endblock %}

{% block form_content %}
<div style="display: flex; gap: 15px;">
        <div style="flex: 1;"><label class="form-label">セイ</label><input class="form-input" type="text"
                        name="last_name_kana" placeholder="ヤマダ" required></div>
        <div style="flex: 1;"><label class="form-label">メイ</label><input class="form-input" type="text"
                        name="first_name_kana" placeholder="タロウ" required></div>
</div>
{% endblock %}
{% block footer_class %}single-btn{% endblock %}

{% block footer_buttons %}
<button type="submit" class="btn-next" disabled>次へ</button>
{% endblock %}