{% extends 'Auth/signup_base.html' %}

{% block back_button %}
<a href="{% url 'setup_photo' %}" class="back-btn">＜</a>
{% endblock %}

{% block progress_bar %}
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
{% endblock %}

{% block title %}住所を入力する{% endblock %}

{% block form_content %}
<label class="form-label">郵便番号</label>
<input class="form-input" type="tel" id="id_postal_code" name="postal_code" placeholder="1234567" maxlength="7">
<label class="form-label">都道府県</label>
<select class="form-input" id="id_prefecture" name="prefecture">
    <option value="" disabled selected>未選択</option>
    <option value="東京都">東京都</option>
    <option value="神奈川県">神奈川県</option>
    <option value="千葉県">千葉県</option>
    <option value="埼玉県">埼玉県</option>
</select>
<label class="form-label">市区町村。町名</label>
<input class="form-input" type="text" id="id_city" name="city" placeholder="港区南新橋">
<label class="form-label">丁目。番地</label>
<input class="form-input" type="text" name="address_line" placeholder="1丁目1-1">
{% endblock %}

{% block footer_buttons %}
<a href="{% url 'setup_association' %}" class="btn-later">あとで</a>
<button type="submit" class="btn-next" disabled>次へ</button>
{% endblock %}