{% extends 'Auth/signup_base.html' %}

{% block back_button %}
<a href="{% url 'setup_kana' %}" class="back-btn">＜</a>
{% endblock %}

{% block progress_bar %}
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment active"></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
<div class="progress-segment "></div>
{% endblock %}

{% block title %}戸籍上の性別を選択する{% endblock %}

{% block form_content %}
<label class="option-item"><input class="form-input" type="radio" name="gender" value="male" required
        onclick="checkForm()"> 男性</label>
<label class="option-item"><input class="form-input" type="radio" name="gender" value="female" onclick="checkForm()">
    女性</label>
{% endblock %}
{% block footer_class %}single-btn{% endblock %}

{% block footer_buttons %}
<button type="submit" class="btn-next" disabled>次へ</button>
{% endblock %}